@import "./src/components/_mixins";
@import "./src/components/_variables";


.home {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (max-width: $md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;

    @media (max-width: $md) {
      width: 70%;
      align-self: center;
      align-items: center;
    }

  }



  &__reklama {
    //nisam mogla nazvat home__ad??? Tad mi nije radilo lol wild
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 35px 35px 15px 35px;



    img {
      width: 19rem;
      height: 19rem;
      border: 8px solid grey;
      box-sizing: border-box;

      @media (max-width: $md) {
        width: 0rem;
        height: 0rem;
        border: 0px solid grey;
      }


    }
  }

  &__right-side {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 50%;
    height: 100%;
    padding: 0px 70px 50px 0px;

    @media (max-width: $md) {
      padding: 0px;
      width: 70%;
      align-self: center;
      align-items: center;
    }

    .home__create-post {
      height: fit-content;

      background: $color-posts;
      box-shadow: $shadow;
      backdrop-filter: blur(4px);
      margin-bottom: 50px;
      text-align: center;

      @media (max-width: $md) {
        margin-bottom: 30px;
      }

      ::placeholder{
        font-family: Orbitron;
      }
      input, textarea,
      input::-webkit-input-placeholder {
        @include input2;
      
      }

            button {
              width: 5rem;
              margin: 15px 0px 15px 0px;
              @include button;
      
              &:hover {
                text-shadow: $button-hover;
              }
            }
      
    }
.home__post{
display:flex;
flex-direction: column;
  background: rgba(100, 19, 11, 0.7);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin:0px;

  @media (min-width: $md) {
      margin: 0px 0px 30px 0px;
    }

                }
  }


}