@import './src/components/_mixins';

.sign-up{
  display: flex;
  justify-content: center;
}
.sign-up__container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-height: 5rem;

    h1{
    font-family: Orbitron;
    font-style: normal;
    font-weight: bold;
    font-size: 76px;
    line-height: 95px;
    
    color: #F2FBFD;
    text-align: center;
    }

  h2{
      margin-bottom: 35px;
      font-family: Orbitron;
      font-style: normal;
      font-weight: normal;
      font-size: 29px;
      line-height: 36px;
      text-align: center;
      
      color: #FFFFFF;
    }
  
    input{ //mixin
      flex-grow: 1;
      display: block;
      position: center;
      width: 423px;
      height: 29px;
      padding:10px;
      margin-top: 35px;
      background: rgba(196, 196, 196, 0.7);
      border: 1.5px solid #B87979;
      border-radius: 15px;
      }

  input,  
  input::-webkit-input-placeholder { //mixin
      font-family: Orbitron;
      font-size: 13px;  
      color: rgba(0, 0, 0, 0.7);
  }  
  button{
    width: 10rem; 
    margin: 50px 50px 30px 50px;
    @include button;
  }
    
}
  

.log-in__link{
    display: inline;
    width: fit-content;
    font-family: Orbitron;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
  }


  