@import "./src/components/_mixins";
@import "./src/components/_variables";

.sign-up {
  display: flex;
  justify-content: center;

  &__container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-height: 5rem;

    h1 {
      @include h1;
    }

    h2 {
      @include h2;
    }

    form {
      display: flex;
      flex-direction: column;
      margin: 30px 30px 0px 30px;
      align-items: center;
    }

    // input {
    //   background: $color-input1;
    //   border: 1.5px solid $color-border;
    //   border-radius: 15px;
    //   margin-bottom: 35px;

     

         input {
           //znam da pari glupo input i input, input::... al sjebe mi boje ako stavim sve skupa XD 
           background: $color-input1;
           border: 1.5px solid $color-border;
           border-radius: 15px;
           margin: 15px;

            @media (min-width: $md) {
                width: 423px;
              }
            
         }
    
         ::placeholder {
           font-family: Orbitron;
         }
    
         input,
         input::-webkit-input-placeholder {
           @include input1;
    
           @media (max-width: $sm) {
             font-size: 10px;
           }
         }
    button {
      width: 10rem;
      margin: 30px 50px 30px 50px;
      @include button;
    }
  }

  &__link {
    @include redirectLink;

  }
}