@import "./src/components/_variables";
@import "./src/components/_mixins";

.profile {
  display: flex;
  flex-direction: column;
  margin: 0px 35px 15px 35px;
  width: 100%;
  min-height: 300px;
  background-color: $color-posts;

  @media (min-width: $md) {
    width: 24rem;
  }

  p {
    text-align: center;
    margin: 20px;
    font-family: $font-pc;
    color: $color-p;

    @media (max-width: $sm) {
      margin: 5px;
    }
  }

  img {
    object-fit: cover;
    margin: 20px;
    width: 125px;
    height: 160px;

    @media (max-width: $sm) {
      width: 75px;
      height: 96px;
    }
  }

  &__info {
    display: block;
    height: fit-content;
    width: 100%;
  }

  &__top {
    display: flex;
    flex-direction: row;
  }

  &__description {
    text-align: left;
    width: fit-content;
  }
}