@import "./src/components/_variables";
@import "./src/components/_mixins";


.quiz {
  background: $color-posts;
  padding: 10px;
  text-align: center;
  font-family: $font-pc;
  color: $color-p;
  margin: 35px 35px 15px 35px;
  width: 24rem;
  min-height: 200px;
  display: grid;
  justify-items: start;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30px 30px 30px auto;
  grid-template-areas:
    "question1 answer1 "
    "question2 answer2 "
    "question3 answer3 "
    "picture picture ";

  img {
    align-self: center;
    justify-self: center;
    object-fit: contain;
    grid-area: picture;
    width: 5.5rem;
    height: 5rem;
  }

  &__a--first {
    grid-area: answer1;
  }
  
  &__q--first {
    grid-area: question1;
  }
  
  &__a--second {
    grid-area: answer2;
  }
  
  &__q--second {
    grid-area: question2;
  }
  
  &__a--third {
    grid-area: answer3;
  }
  
  &__q--third {
    grid-area: question3;
  }
}
