@import "./src/components/_mixins";
@import "./src/components/_variables";

.search {
  display: flex;
  flex-direction: column;
  height: 100vh;

  h2 {
    margin: 1rem;
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
  }

  &__bottom {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: $font-user;
    color: $color-p;

    &--friend {
      width: 50%;
    }
  }

  &__searchBar {
    background-color: $color-posts;
    width: 50%;
    align-self: center;
    margin-bottom: 1rem;
    input {
      background: $color-input;
    }
//
    input,
    input::-webkit-input-placeholder {
      @include input2;
    }

    button {
      width: 5rem; //mixin i za signup triba
      margin: 15px 0px 15px 0px;
      @include button;
    }
  }
}

