@import "./src/components/_mixins";
@import "./src/components/_variables";

.feed {
  display: flex;
  flex-direction: column;
}


.feed__bottom {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 4rem;


}