@import './src/components/_mixins';
@import './src/components/_variables';

.feed{
    display: flex;
    flex-direction: column;

}
.feed__top{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.feed__links{  //mixin
    @include links-container;
} 


.feed__links--first {   
    @include links;
}

.feed__links--second {
    @include links;
}

.feed__links--third {
    @include links;
}

.ad2{
    object-fit: cover;
    margin:3rem 20rem 0rem 5rem;
    width: 682px;
    height: 101px;
    border:5px solid grey;
}

.feed__bottom{

    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left:4rem;
}

