@import './src/components/_mixins';
@import './src/components/_variables';

.friend-box{
    display: flex;
    justify-content: row;
    background-color: $color-posts;
    color: $color-p;
    justify-content: space-around;
    margin-bottom: 1rem;

    img{
        max-height: 5rem;
        align-self: center;
        margin: 0rem 3rem 0rem 0rem;
    }

    p{
        font-size: 13px;
        margin:1rem;
    }

    button{
        background-color: transparent;
        width: fit-content;
        height: fit-content;
        margin-top: 1rem;
        border-color: transparent;
        font-size: 20px;
        color: $color-p;
   
    }
}

