@import "./src/components/_variables";
@import "./src/components/_mixins";

.header {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: $color-profile !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a{
    text-decoration: none;
  }
  a:hover{
    text-underline-position: under;
    text-decoration: underline;
    cursor:pointer;
  }
  h2 {
    width: fit-content;
    margin: 10px;
    font-family: $font-user;
    font-size: 1rem;
    color: $color-p;
  }

  &__top {

    padding: 55px 10px 30px;

    @media (min-width: $md) {
      padding: 70px 30px 30px;
      display: flex;
      justify-content: space-between;
    }

    .ad1 {
      align-self: baseline;
      border: 5px solid grey;
      max-width: 350px;

      @media (min-width: $md) {
        max-width: 520px;
        align-self: center;
      }

      @media (min-width: $lg) {
        max-width: 620px;
        margin: 0 auto;
        transform: translateX(-100px);
      }
    }
  }

  &__links {


    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;


    @media (min-width: $md) {
      display: block;
      margin-bottom: 0;
    }


    img {
      margin-right: 0.5rem;
      width: 1rem;

      @media (min-width: $md) {
        width: 1.5rem;
      }

      @media (max-width: $md) {
        width: 2.5rem;
      }

    }

    a {
      font-family: $font-user;
      font-size: 0px;
      line-height: 18px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      text-decoration: none;
      color: $color-p;
    //ZAŠTO NE RADI
      a:hover{
        text-decoration: underline;
      }

      @media (min-width: $md) {
        width: 200px;
        font-size: 14px;
      }


    }
  }
}