@import "./src/components/_variables";



@mixin button {
  height: fit-content;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  color: $color-p;
  font-weight: bolder;

}


@mixin input2 {
  box-shadow: $shadow;
  border-radius: 6px;
  height: fit-content;
  margin: 20px 20px 0px 20px;
  width: 90%;
  background: $color-input;
  font-family: Source Sans Pro;
  font-size: 15px;
  line-height: 16px;
  color: $color-p;
  padding-bottom: 10px;
    padding-top: 10px;
    padding-left:10px;
}

@mixin h1 {
  font-family: Orbitron;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 95px;
  color: $color-p;
  text-align: center;

  @media (min-width: $md) {
    font-size: 76px;
  }
}

@mixin h2 {
  margin-bottom: 35px;
  font-family: Orbitron;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: $color-p;

  @media (max-width: $md) {
    font-size: 20px;
  }
}

@mixin input1 {
  display: block;
  position: center;
  //width: 423px;
  height: 29px;
  padding: 10px;
  font-family: Source Sans Pro;
  font-size: 15px;

}

@mixin redirectLink {
  display: inline;
  width: fit-content;
  font-family: Orbitron;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  color: $color-p;
}