//Fonts

$font-user: Orbitron;
$font-pc: Source Sans Pro;

//Colors
$color-border: #b87979;
$color-input1: rgba(180, 196, 196, 0.7);
$color-profile: rgba(57, 0, 0, 0.7);
$color-posts: rgba(100, 19, 11, 0.7);
$color-input: rgba(17, 11, 33, 0.7);
$color-like:rgba(180, 196, 196, 0.7);
$color-p: aliceblue;
$shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
$button-hover: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
        0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;


//Responsive Breakpoints

$lg: 1140px;
$md: 900px;
$sm: 600px;