@import "./src/components/_mixins";
@import "./src/components/_variables";

.edit {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  h2 {
    margin-top: 25px;
    @include h2;
  }

  button {
    width: 20rem;
    font-family: Orbitron;
    font-style: normal;
    height: 3rem;
    background: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: $color-p;
    font-weight: bolder;
    border: 0px;
    margin-bottom: 1.5rem;
  }

  button:hover {
    background: rgba(0, 0, 0, 0.7);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
      0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  &__profile {

    margin: 0px 35px 15px 35px;
    width: 60%;
    min-height: 300px;
    background-color: $color-posts;


    button {
      width: 5rem;
      @include button;
    }

    p {
      width: fit-content;
      text-align: center;
      margin: 20px 10px;
      font-family: $font-pc;

    }

    img {
      object-fit: cover;
      margin: 20px;
      width: 125px;
      height: 160px;

      @media (max-width: $sm) {
        width: 100px;
        height: 120px;
      }
    }

    input {
      //znam da pari glupo input i input, input::... al sjebe mi boje ako stavim sve skupa XD 
      background: $color-input1;
      border: 1.5px solid $color-border;
      border-radius: 15px;
      margin: 15px;



    }

    input,
    input::-webkit-input-placeholder {
      @include input1;

      @media (max-width: $sm) {
        font-size: 10px;
      }
    }


    &--form {
      display: flex;
      flex-direction: row;
      color: $color-p;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;

      @media (min-width: $md) {
        input {
          width: 350px;
        }
      }

      @media (min-width: $lg) {
        input {
          min-width: 423px;
        }
      }
    }

  }

  &__quiz {
    background: $color-posts;
    padding: 10px;
    text-align: center;
    font-family: $font-pc;
    color: $color-p;
    margin: 35px 35px 15px 35px;
    width: 60%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    &--questions {
      width: 30%;
      height: 100%;


      @media (min-width: $md) {
        padding-bottom: 135px;

        p {
          margin: 40px 0px 40px 0px;
        }
      }


    }

    &--answers {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 70%;
    }

    button {
      width: 5rem;
      @include button;
    }

    img {
      align-self: center;
      justify-self: center;
      object-fit: contain;
      margin: 10px;
      width: 3.5rem;
      height: 3rem;

      @media (min-width: $md) {
        width: 5.5rem;
        height: 5rem;
      }
    }

    input {
      background: $color-input1;
      border: 1.5px solid $color-border;
      border-radius: 15px;

      @media (min-width: $md) {
        max-width: 300px;
        max-height: 50px;
      }
    }

    input,
    input::-webkit-input-placeholder {
      margin-left: 0px;
      @include input1;
    }

  }

  &__gif {
    background: $color-posts;
    padding: 10px;
    text-align: center;
    font-family: $font-pc;
    color: $color-p;
    margin: 35px 35px 15px 35px;
    width: 60%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    img {
      object-fit: contain;
      margin: 10px;

      width: 3.5rem;
      height: 3rem;

      @media (min-width: $md) {
        width: 5.5rem;
        height: 5rem;
      }
    }
  }
}